services:
    Synolia\Bundle\StockAlertBundle\Entity\Repository\StockAlertRepository:
        parent: oro_entity.abstract_repository
        arguments:
            - 'Synolia\Bundle\StockAlertBundle\Entity\StockAlert'
        tags:
            - { name: doctrine.repository_service }

    Synolia\Bundle\StockAlertBundle\Layout\DataProvider\InventoryQuantityDataProvider:
        arguments:
            - '@oro_inventory.provider.inventory_quantity'
        tags:
            - { name: layout.data_provider, alias: synolia_inventory_quantity }

    Synolia\Bundle\StockAlertBundle\Layout\DataProvider\StockAlertDataProvider:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@oro_security.token_accessor'
        tags:
            - { name: layout.data_provider, alias: synolia_stock_alert }

    Synolia\Bundle\StockAlertBundle\Handler\StockAlertHandler:
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@oro_security.token_accessor'
            - '@oro_config.manager'

    Synolia\Bundle\StockAlertBundle\Twig\QuantityExtension:
        public: true
        arguments:
            - '@Synolia\Bundle\StockAlertBundle\Layout\DataProvider\InventoryQuantityDataProvider'
            - '@doctrine.orm.entity_manager'
            - '@Synolia\Bundle\StockAlertBundle\Layout\DataProvider\StockAlertDataProvider'
        tags:
            - { name: twig.extension }

    Synolia\Bundle\StockAlertBundle\Async\StockAlertNotificationProcessor:
        arguments:
            - '@oro_website.manager'
            - '@Synolia\Bundle\StockAlertBundle\Mailer\SimpleEmailMailer'
        tags:
            - { name: 'oro_message_queue.client.message_processor', topicName: 'synolia.stock_alert.notification' }

    Synolia\Bundle\StockAlertBundle\Controller\Frontend\StockAlertController:
        public: true
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
            - [setManager, ['@doctrine.orm.entity_manager']]
            - [setTranslator, ['@translator']]
            - [setHandler, ['@Synolia\Bundle\StockAlertBundle\Handler\StockAlertHandler']]
        tags:
            - { name: container.service_subscriber }
            - { name: controller.service_arguments }

    Synolia\Bundle\StockAlertBundle\Mailer\SimpleEmailMailer:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@oro_config.manager'
            - '@oro_email.email_renderer'
            - '@oro_email.sender.email_model_sender'

    Synolia\Bundle\StockAlertBundle\Controller\StockAlertController:
        public: true
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }
            - { name: controller.service_arguments }
