parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: phpDoc.parseError
    bootstrapFiles:
        - ../vendor/autoload.php